.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
}

.crypto-card {
  min-width: 400px;
  box-shadow: 0 0 5px #d4d4d4;
  background-color: rgb(177, 177, 177);
  border-radius: 10px;
}

.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}